@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

body{
    background:linear-gradient(#fef1c0, white);
    padding: 150px 0px 0px 150px;
    font-family: 'Poppins', sans-serif;
}

.discription{
    margin-right: 0;
    font-size: 20px;
    margin-top: 0px
}

h4{
    font-size: 35px;
}


.tt-text{
    color: brown;
    text-decoration: none;
    font-size: 50px;
}


footer{
    text-align: center;
    font-size: 12px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: rgb(251, 193, 48);
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
